:root {
  --heading: #18181d;
  --text: #18181d;
  --white: #fff;
  --black: #212529;
  --helper: #8490ff;
  --bg: #efefff;
  --footer_bg: #0a1435;
  --btn: #594aff;
  --border: #6254f380;
  --hr: #fff;
  --gradient: linear-gradient(0deg, var(--helper) 0%, #62bdfc 100%);
  --shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.149) 0px 0px 0px 1px;
  --shadowSupport: rgba(0, 0, 0, 0.161) 0px 1px 4px;
}
