.container {
  margin: 40px auto;
  display: flex;
  gap: 20px;
}

/* Right Section */
.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.left-section h1 {
  text-transform: capitalize;
  font-size: 4rem;
  line-height: 1;
  color: #827be6;
}

.left-section h1 span {
  color: #5557e9;
}

.left-section p {
  color: #cacaca;
}

/* buttons Link*/
.left-section .btn {
  cursor: pointer;
  background-color: #4945a0;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  border: 0;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 1vmax;
  font-size: 1rem;
}
.left-section .btn:hover {
  background-color: #221f5b;
}

/* Right Section */
.right-section {
  flex: 1;
}

.right-section img {
  display: block;
  width: 100%;
}

@media (max-width: 70em) {
  .left-section h1 {
    font-size: 3rem;
  }
}
@media (max-width: 50em) {
  .container {
    padding: 0 20px;
    flex-direction: column;
  }
}
