.nav-container {
  background-color: #11111191;
  z-index: 5;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
.nav-container .links {
  font-weight: 800;
  font-size: 20px;
  color: rgb(189, 189, 4);
  text-decoration: none;
}
.nav-form input {
  padding: 8px 20px;
  border: none;
  outline: none;
}
.nav-form button:hover {
  opacity: 0.8;
}
.nav-form button {
  background-color: rgb(5, 167, 5);
  color: white;
  font-weight: 600;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
}
.user-icon {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.user-icon:hover {
  color: rgb(236, 214, 16);
}
