.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 80vh;
}
.signUp h1 {
  font-weight: 800;
  font-size: 3rem;
}
.signUp form {
  font-size: 1.5rem;
}
.signUp input {
  padding: 5px 10px;
  border: 0;
  outline: 2px solid #555;
}
.signUp .btn {
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 8px;
  font-size: 1rem;
  background-color: #1b55d3;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
}
.signUp .red {
  background-color: rgb(221, 67, 139);
}
.signUp .darkred {
  background-color: red;
}
.signUp .btn:active {
  opacity: 0.8;
}
.result p {
  margin-bottom: 10px;
  line-height: 1.5;
}
