.tabOption {
  margin: 20px 0;
  box-shadow: #a7a7a7 0px -0.5px 0px inset;
}

.tabOption-wrapper {
  display: flex;
}

/* This is a NavLink */
.tabOption-item {
  text-decoration: none;
  margin-right: 24px;
  padding: 12px 12px 20px;
}
.tabOption-name {
  text-transform: capitalize;
  font-size: calc(10px + 1vw);
  font-weight: 700;
  margin-left: 10px;
  color: #fff;
}
.tabOption-image {
  width: 60px;
  padding: 10px;
  border-radius: 100vmax;
  background-color: #ffdee6;
}
.tabOption-image img {
  width: 100%;
}

/* bottom-border */
.bottom-border {
  position: relative;
}
.bottom-border::after {
  position: absolute;
  top: 90px;
  content: "";
  width: 150px;
  border-bottom: 3px solid red;
}
