.footer {
  background-color: #111;
  height: 400px;
  padding-top: 30px;
  overflow: hidden;
  /* position: relative; */
}
.footer > * > * {
  color: rgb(225, 230, 241);
}

.footer-header {
  display: flex;
  justify-content: space-between;
}

.footer-header img {
  display: block;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #e72163;
  max-width: 200px;
}
.footer-location > button {
  border: 0;
  border-radius: 1vmax;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 20px;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  text-transform: capitalize;
}
.footer-location > button:hover{
  background-color: #cfcfcf;
} 

.footer-main {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-card > * {
  margin: 5px 0;
  display: block;
  color: #fff;
  text-decoration: none;
}
.footer-card > a:hover {
  color: #e72163;
}

.footer-bottom {
  display: block;
}
.footer-bottom .footer-border {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.footer-social-links > * {
  margin-bottom: 10px;
}
.footer-social-links > a i{
  margin-right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #e72163;
}
.footer-social-links > a i:hover {
  color: #e0618b;
}